body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
    width: 90%; /* Ajuste para móviles */
    max-width: 400px;
}

#gifContainerImg {
    width: 80%; /* Reducción del tamaño para móviles */
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    width: 100%; /* Botones más anchos en móviles */
    max-width: 200px;
}

#siBtn, #noBtn {
    border-radius: 10px; 
}

#siBtn {
    background-color: #009705;
    color: white;
    border: 2px solid #FFC0CB;
}

#noBtn {
    background-color: #FF5733;
    color: white;
    border: 2px solid #FFC0CB;
}

#noBtn span {
    font-size: 18px;
    color: #fcf4f4;
}

#siBtn:hover{
    background-color: #053a03;
}

#noBtn:hover {
    background-color: #641e0d;
}

.bg-green {
    background-color: #ffffff;
}

#messageContainer {
    font-size: 24px; /* Reducido para móviles */
    color: #FF0000;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px #000;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

/* Estilos responsivos para móviles */
@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
    
    #gifContainerImg {
        width: 90%;
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
    
    #messageContainer {
        font-size: 20px;
    }
}
